<h1>Orders</h1>
<ul>
  <% @orders.each do |order| %>
  <li>
    <%= "Order number #{order.id} - Customer: #{order.customer.name} - Amount: #{order.amount} - Status: #{order.status}" %>
  </li>
  <% end %>
</ul>
<h2>Add a new order</h2>
<%= simple_form_for(@order) do |f|  %>
  <%= f.association :customer %>
  <%= f.button :submit %>
<% end %>
